


.form {
	display: flex;
	flex-direction: column;
	
	justify-content: space-between;	
	align-items: left;
	margin-left: 2em;

}

input[type], select, textarea {
	width: 30%;
	margin-bottom: 1em;

}

